<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>学历认证系统</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/morris.css">
    <link rel="stylesheet" href="css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="css/AdminLTE.min.css">
    <link rel="stylesheet" href="css/skin-blue.min.css">
   	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <style>
        .content1,
        .content2,
        .content3,
        .content4,
        .content5 {
            width: 30%;
            height: 100px;
            float: left;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="/#" class="logo">
                <span class="logo-mini">
                    <b>F</b>NC</span>
                <span class="logo-lg">
                    <b>学位证书认证系统</b>
                </span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>  
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">       
                <ul class="sidebar-menu" data-widget="tree">   
                    <!-- Optionally, you can add icons to the links -->
                    <li>
                        <a onclick="goList()">
                            <i class="fa fa-link"></i>
                            <span>本校学生信息</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-link"></i>
                            <span>毕业生信息录入</span>
                        </a>
                    </li>
                </ul>
            </section>
        </aside>

       
        <div class="content-wrapper">
       
            <div class="content">
                <h2>
                    毕业生信息录入
                </h2>
                <div id='showout1'>
                <div class="col-md-10">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">学历证书</h3>
                        </div>
                        <form action="#" class="form-horizontal">
                            <div class="box-body">
                                <table cellpadding="1" cellspacing="50px" border="0">
                                    <tr>
                                        <th class="col-sm-2">身份证号：</th>

                                        <td class="form-group">
                                            <div class="col-sm-2">
                                                <input type="text" id="stuId" name="num" value="" autocomplete="off" required='true' minlength="18" maxlength="18" class='lscx_input'
                                                    placeholder="身份证号" />
                                            </div>
                                        </td>
                                         <th class="col-sm-2 ">姓名：</th>
                                        <td class="form-group">
                                            <div class="col-sm-2">
                                                <input type="text" id="stuName" name="name" value="" autocomplete="off" required='true' class='lscx_input' placeholder="姓名"
                                                />
                                            </div>
                                        </td>
                                    </tr>
                                    <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                                    <tr>
                                        <th class="col-sm-2">入学日期：</th>
                                        <td class="form-group">
                                            <div class="col-sm-2">
                                                <input type="text" id="begin" name="begin" value="" autocomplete="off" required='true' class='lscx_input' />
                                            </div>
                                        </td>
                                         <th class="col-sm-2 ">毕业日期：</th>
                                        <td class="form-group">
                                            <div class="col-sm-2">
                                                <input type="text" id="end" name="end" value="" autocomplete="off" required='true' class='lscx_input' />
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" onclick="addStu()" class="btn btn-info">录入</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

           </div>
            <br>
            <div class="balance">
                <h3>当前还可添加的学生数量为:</h3>
                <h1 id = "shengyu" style="color:red"></h1>
                <form>
                    <h3>配额申请</h3><input id="balanceNum"  title="bal"/>
                </form>
                <button onclick="commit()">提交申请</button>
            </div>

        </div>
        <!-- ./wrapper -->
        <!-- jQuery 3 -->
        <script src="js/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="js/bootstrap.min.js"></script>
        <!-- DataTables -->
        <script src="js/jquery.dataTables.min.js"></script>
        <script src="js/dataTables.bootstrap.min.js"></script>
        <!-- SlimScroll -->
        <script src="js/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="js/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="js/raphael.min.js"></script>
        <script src="js/morris.min.js"></script>
        <script src="js/demo.js"></script>
    </div>
<script>
    function GetUrlParam(paraName) {
        let url = document.location.toString();
        let arrObj = url.split("?");

        if (arrObj.length > 1) {
            var arrPara = arrObj[1].split("&");
            var arr;

            for (var i = 0; i < arrPara.length; i++) {
                arr = arrPara[i].split("=");

                if (arr != null && arr[0] == paraName) {
                    return arr[1];
                }
            }
            return "";
        }
        else {
            return "";
        }
    }
    function goList(){
        window.location.href = "/school_list.html?page=0&school="+GetUrlParam("school").replace("#","");
    }
    function commit() {
        let num = $("#balanceNum").val();
        $.post("/api/approval/commit",{
            school:GetUrlParam("school"),
            num: num
        },(data)=>{
            alert("success");
        })
    }
    function addStu() {
        let name   = $("#stuName").val();
        let school = GetUrlParam("school");
        let timeRange = $("#begin").val()+ "-"+ $("#end").val();
        let stuId  = $("#stuId").val();
        $.post("/api/stu/add",{
            stuName : name,
            school  : school,
            timeRange : timeRange,
            idNum   : stuId
        },(data)=>{
            alert("success");
            window.location.reload();
        })
    }

    $.get("/api/user/balance?school="+GetUrlParam("school"),(data)=>{
        $("#shengyu").text(data.data)
    })

</script>
</body>

</html>